<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>673335695503-vppsun99pgrmkc5j6l7gf1bp1e5pp0pq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.673335695503-vppsun99pgrmkc5j6l7gf1bp1e5pp0pq</string>
	<key>API_KEY</key>
	<string>AIzaSyDN127LMazTgSubK6CTuI0J4N62IK48QkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>673335695503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.lacoste.macro</string>
	<key>PROJECT_ID</key>
	<string>esp8266-f04ee</string>
	<key>STORAGE_BUCKET</key>
	<string>esp8266-f04ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:673335695503:ios:fd187601bd57fa848af8fa</string>
	<key>DATABASE_URL</key>
	<string>https://esp8266-f04ee-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
